<!--
  The turtlebot people follower nodelet.   
 -->
<launch>
  <arg name="base" value="$(optenv TURTLEBOT_BASE kobuki)"/>
  
  <!-- Load base-specific stuff -->
  <include file="$(find turtlebot_follower)/launch/$(arg base)/_base_specific.launch"/>

  <!-- 3d sensor; ensure that the nodelet manager is named camera_nodelet_manager! -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>

  <!--  This gets loaded into the 3d sensors nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="turtlebot_follower" args="load turtlebot_follower/TurtlebotFollower camera_nodelet_manager" respawn="true">
    <param name="x_scale" value="7.0" />
    <param name="z_scale" value="2.0" />
    <param name="min_x" value="-0.35" />
    <param name="max_x" value="0.35" />
    <param name="min_y" value="0.1" />
    <param name="max_y" value="0.5" />
    <param name="max_z" value="1.2" />
    <param name="goal_z" value="0.6" />
  </node>

</launch>
