<launch>
  <arg name="base" value="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->

  <!--- Run the 3dsensor -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="fake_laser" value="true"/>  
  </include>

  <!--- Run gmapping -->
  <include file="$(find turtlebot_navigation)/launch/includes/_gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find turtlebot_navigation)/launch/includes/_move_base.launch">
    <arg name="base" value="$(arg base)" />
  </include>

</launch>
