<launch>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
  </include>

  <include file="$(find turtlebot_navigation)/launch/includes/_gmapping.launch"/>

  <include file="$(find turtlebot_navigation)/launch/includes/_move_base.launch"/>

</launch>
