<launch>
  <!-- *************************** Maps *************************** -->
<!-- 27017 is default, use a private one to avoid error 48 conflicts -->
<!--
  <node name="mongo" type="mongo_wrapper_ros.py" pkg="warehouse_ros" output="log">
    <param name="warehouse_host" value="localhost"/>
    <param name="warehouse_port" value="27018"/>
    <param name="db_path"        value="warehouse_data"/>
    <param name="overwrite"      value="false"/>
  </node>
-->
<!--  <node pkg="map_store" type="map_manager" name="map_manager" output="screen"/>-->

  <!-- World Canvas -->
  <arg name="debug" default="false"/>
  <node pkg="world_canvas_server" type="world_canvas_server" name="world_canvas_server" args="$(arg debug)" output="screen">
    <param name="start_map_manager" value="true"/>
    <param name="auto_save_map" value="false"/>
  </node>
</launch>
